/* ไฟล์ src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* ❌ ห้ามใส่ background-color ตรงนี้เด็ดขาด เพราะเราคุมใน App.js แล้ว */
}